@import "_variable.scss";

*, *:before, *:after {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
body {
	font-size: 100%;
	line-height: 1.4;
	color: $text-color;
	background: $background-color
}
.clear {
	clear: both;
}
h2, h3 {
	text-shadow: $text-shadow;
}
footer{
	font-size: .75em;
	width: 100%;
}