@import "_variable.scss";

*, *:before, *:after {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
body {
	font-size: 100%;
	line-height: 1.4;
	color: $text-color;
	background: $background-color
}
.clear {
	clear: both;
}

/* --------- banner --------- */
.banner{
	width: 100%;
	border: $border-style;
	box-shadow: $border-shadow;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	&-title{
		text-align: center;
		text-shadow: $text-shadow;
		width: 100%;
		margin: 0;
	}
	p{
		@extend .banner-title;
		margin-top: 1.4em;
	}
	&-contact{
		padding-left: 0;
		margin: .7em 1em;
		&-item{
			list-style-type: none;
			text-align: center;
			flex: 1;
			margin: 0 auto;
		}
	}
	&-social{
		padding-left: 0;
		margin: .7em 1em;
		&-item{
			@extend .banner-contact-item;
			display: inline-block;
			width: 2em;
		}
	}
}

.nav{
	width: 100%;
	&-list{
		margin: .7em 1.4em;
		padding-left: 0;
	}		
	&-list-item{
		list-style-type: none;
		display: block;
		margin: 0 auto .5em;
		border:$border-style;
		background: white;
		width: 100%;
		padding: .25em .5em;
		text-align: center;
		a{
			text-decoration: none;
		}
	}
}
/* --------- main --------- */
h2, h3 {
	text-shadow: $text-shadow;
}
/* --------- aside --------- */
.side{
	border: $border-style;
	box-shadow: $border-shadow;
	padding: 0 1em;
	.sideContact{
		display: none;
		&-list{
			padding-left: 1.5em;
			&-item{
				list-style-type: none;
			}
		}
	}
}

/* --------- footer --------- */
footer{
	font-size: .75em;
	width: 100%;
}
/* --------- media queries --------- */
@media only screen and (min-width: 25em) {
	.nav{		
		&-list-item{
		display: inline-block;
		margin: 0 auto;
		width: 32%;
		}
	}	
}
@media only screen and (min-width: 55em) {
	body{
		font-size: 1.4em;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;
	}
	.banner-contact{
		display: none;
	}
	main{
		flex:3;
	}
	.side{
		flex:1;
		margin: 1.4em 0 1.4em 1.4em;
		.sideContact{
			display: initial;
		}
	}
}